/* CSS files add styling rules to your content */

body {
    margin: 2em;
  }
  
  h1 {
    font-style: italic;
    color: white;
  }
  
  #loading {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 10000;
    background-color: white;
  }

  .button {
    background-color: blue;
    border: none;
    color: white;
    cursor: pointer;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .header {
    padding: 60px;
    text-align: center;
    background-image: url("galaxy.jpg");
    color: white;
    font-size: 30px;
  }
