form(action="/login" method="post" class="pure-form pure-form-aligned")
  fieldset
    .pure-control-group
      label Email
      input(type="email" name="email" placeholder="hello@world.ca" required)
    .pure-control-group
      label Password
      input(type="password" name="password" required)
    .pure-controls
      input(type="submit" value="Login" class="pure-button pure-input-1-2 pure-button-primary")
