form(action="/login" method="post" class="pure-form pure-form-aligned")
  fieldset
    .pure-control-group
      label Email
      if enableDevMode
        input(type="email" name="email" placeholder="hello@world.ca" value=devAutofillEmail required)
      else
        input(type="email" name="email" placeholder="hello@world.ca" required)
    .pure-control-group
      label Password
      if enableDevMode
        input(type="password" name="password" placeholder="Password" value=devAutofillPassword required)
      else
        input(type="password" name="password" placeholder="Password" required)
    .pure-controls
      input(type="submit" value="Login" class="pure-button pure-input-1-2 pure-button-primary")
