extends layout.pug

block append stylesheets
  link(rel="stylesheet" type="text/css" href="/web/css/vendor/color-picker.css")

block content
  h2 Test Worlds
  div(class="pure-menu pure-menu-horizontal gutter-bottom-doubled")
    ul
      li
        a(href='/rooms/explore/world/TestWorld' class="pure-menu-link") Basic Example
      li
        a(href='/rooms/explore/world/Wardrobe' class="pure-menu-link") Wardrobe Test
      li
        a(href='/rooms/explore/world/Testbed' class="pure-menu-link") Research Room
      li
        a(href='/rooms/explore/world/hub' class="pure-menu-link") Hub: The Fire
      li
        a(href='/rooms/explore/world/VD_1_Salon' class="pure-menu-link") Viola Desmond, Act 1: The Salon
      li
        a(href='/rooms/explore/world/VD_2_Theatre' class="pure-menu-link") Viola Desmond, Act 2: The Roseland Theatre
      li
        a(href='/rooms/explore/world/VD_3_ProvinceHouse' class="pure-menu-link") Viola Desmond, Act 3: The Province House
      li
        a(href='/rooms/explore/world/WIT_1_Kitchen' class="pure-menu-link") Women in Trades, Act 1: Kitchen (In progress)
      li
        a(href='/rooms/explore/world/WIT_2_Lab' class="pure-menu-link") Women in Trades, Act 2: Lab
      li
        a(href='/rooms/explore/world/WIT_3_Work' class="pure-menu-link") Women in Trades, Act 3: Work (To be done)
