html
  head
    title CIRCLES - #{title}
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    block stylesheets
      link(rel="stylesheet" type="text/css" href="/web/css/vendor/pure-min.css")
      link(rel="stylesheet" type="text/css" href="/web/css/app.css")
    block scripts
      script(type="text/javascript" src="/web/js/color-picker.js")
      script(type="text/javascript" src="/web/js/app.js")
      script(type="text/javascript" src='/global/js/libs/aframe-master.min.js')
      script(type="text/javascript" src='/global/js/circles_client_bundle.min.js')
  body
    include includes/topbar
    .content
      block content